#google-map-section .zero-padding {
    padding-left:0;
    padding-right:0;
}

.google-map-holder {
    margin-left: -15px;
    margin-right: -15px;
}


#google-map-section a.tab {
    height: 50px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    display: inline-block;
    width: 50%;
    position: relative;
    border-top: 1px solid #c5c5c5;
    text-align: center;
    border-bottom: 1px solid #c5c5c5;
    padding: 10px 0;
    text-transform: uppercase;
    font-weight: bold;
    color: #55565a;
}

#google-map-section .map-btns-wrap {
     display: table;
     width: 100%;
}


#google-map-section a.map-active {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
       color:#419739;
       border-bottom: 3px solid #419739;

}
#enogen-google-map1 {
    border-right: 1px solid #c5c5c5;
     border-left: 1px solid #c5c5c5;
     cursor: pointer;
}

#enogen-google-map2 {
    border-right: 1px solid #c5c5c5;
    cursor: pointer;
}

#enogen-google-map1show {
   height: 600px;
   width: 100%;
}

#enogen-google-map2show {
   height: 100%;
   width: 100%;
}


#google-map-section .map-lists-container {
    height:600px;
    width: 100%;
    position:relative;
    display:none;
}

  #google-map-section .map-hide {
    display:none;
 }

 #google-map-section .map-show {
    display:block;
 }

#google-map-section .marker-name {
    font-size: 18px;
    font-weight: bold;
    color: #419739;
    margin: 5px 0;
}

#google-map-section .marker-details {
    font-size: 16px;
    color: #000;
    margin: 0;
    line-height:21px;
}

#google-map-section .all-plants {
    padding: 20px 15px;
    border-bottom:1px solid #c5c5c5;
}


#google-map-section .all-plants > div {
    display:inline-block;
    color: #419739;
}

#google-map-section .all-plants > div:nth-child(2) {
    float: right;
}

#google-map-section hr {
      border-right: 1px solid #c5c5c5;
}

#google-map-section .map-list-label {
        margin: 20px 15px;
        cursor: pointer;
}

#google-map-section .map-state {
      padding: 10px 0;
      color: #419739;
      font-size: 16px;
}

#google-map-section .map-state::after {
    display: inline-block;
    width: 20px;
    content: '+';
    color: #419739;
    font-weight: 300;
    font-size: 30px;
    margin-right: 5px;
    position: relative;
    float: right;
}

#google-map-section .open .map-state::after {
    display: inline-block;
    width: 25px;
    content: '-';
    color: #419739;
    font-weight: 300;
    font-size: 40px;
    margin-right: -2px;
    position: relative;
    float: right;
}
#google-map-section .state-content  {
    display:none;
}

#google-map-section .open .state-content {
  display: block;
}

#google-map-section .state-info  {
    margin: 15px 0;
    font-size: 16px;
}

#google-map-section .state-info div > p {
    margin: 2px 0;
    font-size: 16px;
    line-height:23px;
}

#google-map-section .state-title {
    font-weight:700;
}

#google-map-section .mobile-gap {
    margin-top:0;
}

#google-map-section .expand-all {
   cursor: pointer;
}


#google-map-section .grower-copy-holder, #google-map-section .producers-copy-holder {
    display: none;
}



@media only screen and (min-width:768px) {

    #google-map-section a.tab {
    width: 20%;
}


    .google-map-holder {
    margin-left: 0;
    margin-right: 0;
}
    #google-map-section .map-list-label {
        margin: 20px 0;
}

    #google-map-section .all-plants {
    padding: 20px 0;
    border-bottom:1px solid #c5c5c5;
   }

    #google-map-section .phone {
    float: right;
    padding-top: 30px;
    }


#google-map-section .zero-padding {
    padding-left:15px;
    padding-right:15px;
}

}
